@import url(reset.css);
@import url(root.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div{
    display: block;
}

body{
    background-color: var(--black);
    font-family: var(--title);
    color: var(--white);
    font-size: 12px;
    width: 100%;
}

nav{
    display: flex;
    flex-direction: row; 
    align-items: center;
    padding: 5px 20px 0 20px; 

}

ul{
    color: var(--white);
    
}

ul > li{
    display: grid;
    grid-template-columns:1fr 1fr;   
    font-size: 20px;
}

a{
    text-decoration:none;
    color: var(--white);
}

.logo_pic{
    width: 55px;
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
}

.cluster > * {
    margin: 0.5rem;
}

.headerseach {
    float: left;
    margin-top: 18px;
    margin-left: 120px;
}

.headerseach input {
    width: 170px;
    height: 42px;
    border-radius: 5px;
    background: #DDD7CD url(../images/search-3.png) 10px center no-repeat;
    background-size: 20px;
    padding-left: 38px;
    padding-right: 10px;
    box-sizing: border-box;
    border: 0;
}
.headerighted {
    float: right;
    margin-top: 15px;
}
.headerighted a {
    display: block;
    max-width: 50px;
}

/*hero section-1 & 2*/
.sidebar-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%; 

}
.sidebar{
    flex-basis: 40rem;
    flex-grow: 2;
}

.not-sidebar{
    flex-basis: 0;
    flex-grow: 999;
    min-width: 50%;
}
.sidebar-top{
    margin-top: 6%;
}

.hero__cta{
    margin-top:auto;
    margin-bottom: auto;
    padding: 2rem;
}

.hero__image{
    padding: 3em;
    width: 60%;
    height: 60%;
    border-radius: 15%;
}

.hero__cta > * + * {
    margin-top: 1rem;
}


/* Button section*/
.btn-primary{
    display: inline-block;
    font-family: var(--subtitle);
    font-size:  25px;
    background-color:var(--gold) ;
    padding:20px;
    border-radius: 15px;
    
}
.btn-primary:hover {
    background-color: var(--grey);
    color: var(--gold);
  }


/* Text section*/
h1,a{
    padding-left: 5px;
    margin: 0 auto;
}

h1{
    text-align: left;
    line-height: 110%;
    font-size:  58px;

}

h2, p {
    font-family: var(--text);
}


.p1{
    margin-top: 3px;
}



/*Feature section*/
.feature{
    justify-content: center;
    width: 90%;
    /*padding: 20px 20px 0px 20px;*/
    display: flex;
    flex-wrap: wrap;
    background-color: var(--Beige);
    border-radius: 15px;
    margin: 0 auto;


}
.feature-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    
}

.feapic{
    width: 50px;
}

section > h2{
    font-family: var(--heading);
    font-weight: bold;
    font-size: larger;
    color: var(--black);
}
.tex-fea{
    margin-top: 12px;
    font-size: 220%;
}


/*Our product section*/
.ourpro-P {
    text-align: center;
    font-size: 400%;
    padding: 60px;
    margin: 20px;
}
.p-2{
    font-family: var(--heading);
    margin: 15px;
}

.col {
    display: flex;
    justify-content: center;
}
.card:hover{
    transform: translate(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}
.card{
    background-color: var(--grey);
    width: 400px;
    height: 400px;
    margin: 10px;
    border-radius: 20px;
}
.listimg {
    display: block;
    width: 228px;
    margin: 0 auto 10px;
    height: 228px;
}
.listimg img {
    display: block;
    margin: 0 auto;
}
img {
    border: 0 none;
    max-width: 100%;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.card-header , 
.card-btn{
    font-family: var(--subtitle);
    text-align: center;
    color: black;
    font-size: large;
    margin: 0 auto;
}
.card-text{
    font-family: var(--text);
    padding: 20px;
    color: black;
    text-align: center;
    margin: 0 auto;
    font-size:small;
}
.button{
    background-color: var(--gold);
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}
.button-2{
    padding: 35px;

}



  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */

  .contact-section{
    box-sizing: border-box;
    display: block;
    margin: 20px;
    padding: 20px;
  }

  .container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .contact-section h3 {
    font-size: 3em;
    font-family: var(--title);
    font-weight: 600;
    margin-left: 0.2em;
    color: var(--gold);
  }

  .contact-section h4 {
    color:var(--gold);
    margin-top: 0;
    font-size: 1.8em;
    font-family: var(--text);
    margin-bottom: 0.5em;
    font-weight: 600;
    padding: 20px;
  }

  
element.style {
    visibility: visible;
    animation-delay: 0.4s;
    animation-name: fadeInLeft;
}

.col-md-6{
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}

.contact-grid1 input[type="text"], .contact-grid1 textarea {
    width: 100%;
    color:var(--darkgrey);
    outline: none;
    font-size: 1em;
    padding: 1em;
    border: none;
}

form {
    display: block;
    margin-top: 0em;
}

.contact-grid1 input[type="submit"] {
    font-size: 1em;
    background:var(--gold);
    padding: 0.8em 2em;
    color: #fff;
    outline: none;
    border: none;
    transition: all 0.3s ease-out;
}

@media screen and (max-width: 580px) {
	.cluster ul li{
        width: 100%;
        margin-right: 0;
        float:inline-start;
    }
	.headerseach{
        float: right;
    }
	.headerighted{
        float: left;
    }
	.hero__cta h1{
        font-size: 24px;
    }
	.btn a{
        width: 100%;
        margin-right: 0;
        float: none;
        margin-bottom: 10px;
        display: block;
    }
	.hero__cta h2{
        font-size: 20px;
    }
	.hero__cta h1{
        margin: 22px;
    }
    .hero__image {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

    }
}
@media screen and (max-width: 580px){
    .listimg {
    width: 100%;
    margin: auto;
    float: none;
    display: flex;
    flex-direction: column;
    }

    .cluster , .hero{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}

@media screen and (max-width: 600px) {
    .col {
      width: 100%;
    }
  }


  /* Contact Part*/
  @media (max-width: 320px ) {
    .contact-section {
    padding:1em 0;
    }
  }

  @media (max-width: 991px){
    .contact-grid {
        float: left;
        width: 50%;
    }
    }
